<nav class="navbar bg-body-tertiary navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets\img\syntaxlogo.png" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" (click)="setActive('home')" [ngClass]="{'active': activeItem === 'home'}" routerLink="/home/dashboard">
                        <i class="material-icons">home</i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="setActive('finances')" [ngClass]="{'active': activeItem === 'finances'}" routerLink="/finances/transaction">
                        <i class="material-icons">payments</i>
                        Finances
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="setActive('portfolio')" [ngClass]="{'active': activeItem === 'portfolio'}" routerLink="/portfolio/transaction">
                        <i class="material-icons">savings</i>
                        Investments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">
                        <i class="material-icons">workspace_premium</i>
                        Premium
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white disabled">
                        <i class="material-icons">account_balance_wallet</i>
                        Monthly Balance: 
                        <span *ngIf="balance !== undefined">{{balance.toFixed(2)}}</span>
                    </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link text-white disabled">
                        <i class="material-icons">paid</i>
                        Net Worth: 
                        <span *ngIf="netWorth !== undefined">{{netWorth.toFixed(2)}}</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" [ngClass]="{'active': activeItem === 'user'}">
                        <i class="material-icons">person</i>
                        UserName
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li>
                            <a class="dropdown-item" routerLink="/wallets" (click)="setActive('user')">
                                <i class="material-icons">account_balance_wallet</i>
                                Wallets
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" routerLink="/profile" (click)="setActive('user')">
                                <i class="material-icons">account_circle</i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="logout()">
                                <i class="material-icons">exit_to_app</i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>