<nav class="navbar bg-body-tertiary navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <img src="assets/img/logo.jpg" width="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" (click)="setActive('home')" [ngClass]="{'active': activeItem === 'home'}" routerLink="/home">
                        <i class="material-icons">home</i>
                        Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="setActive('finances')" [ngClass]="{'active': activeItem === 'finances'}" routerLink="/finances">
                        <i class="material-icons">payments</i>
                        Finances
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="setActive('portfolio')" [ngClass]="{'active': activeItem === 'portfolio'}" routerLink="/portfolio/dashboard">
                        <i class="material-icons">account_balance_wallet</i>
                        Investments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">
                        <i class="material-icons">workspace_premium</i>
                        Premium
                    </a>
                  </li>          
            </ul>
        </div>
    </div>
</nav>