.navbar {
    display: flex;
    background-color:blueviolet;
    padding-left: 10px;
}

img {
    border-radius: 15px;
}

.nav-item {
    padding-left: 20px;
}

.nav-item a{
    display: flex;
    align-items: center;
    font-size: large;
}

i {
    padding-right: 10px;
}

