.navbar {
    display: flex;
    padding-left: 10px;
    border-bottom: 1px solid darkgray;
}

img {
    border-radius: 15px;
}

.nav-item {
    padding-left: 20px;
}

.nav-item a{
    display: flex;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

i {
    padding-right: 10px;
}

#navbarNav {
    display: flex;
    justify-content: space-between;
}
