.navbar {
    display: flex;
    background-color:blueviolet;
    padding-left: 15px;
}

img {
    border-radius: 15px;
}

.nav-item {
    padding-left: 25px;
}

.nav-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
}

i {
    padding-right: 5px;
}