<form [formGroup]="assetPortfolioForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="quantity">Quantity:</label>
      <input type="number" class="form-control" id="quantity" formControlName="quantity">
    </div>
    <div class="form-group">
      <label for="purchasePrice">Purchase Price:</label>
      <input type="number" class="form-control" id="purchasePrice" formControlName="purchasePrice">
    </div>
    <div class="form-group">
      <label for="date">Date:</label>
      <input type="date" class="form-control" id="date" formControlName="date">
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <input type="text" class="form-control" id="type" formControlName="type">
    </div>
    <div class="form-group">
      <label for="idPortfolio">Portfolio ID:</label>
      <input type="number" class="form-control" id="idPortfolio" formControlName="idPortfolio">
    </div>
    <div class="form-group">
      <label for="idAsset">Asset ID:</label>
      <input type="number" class="form-control" id="idAsset" formControlName="idAsset">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>