<div class="container">
  <div class="card mx-auto my-5 p-4">
    <h1 class="text-center display-4">New</h1>
    <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="value" class="form-label">Value:</label>
        <input type="number" class="form-control" id="value" formControlName="value">
      </div>
      <div class="form-group">
        <label for="description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="description" formControlName="description">
      </div>
      <div class="form-group">
        <label for="date" class="form-label">Date:</label>
        <input type="date" class="form-control" id="date" formControlName="date">
      </div>
      <div class="form-group">
        <label for="type" class="form-label">Operation Type:</label>
        <select type="number" class="form-control" id="type" formControlName="type">
          <option *ngFor="let option of eventTypeOptions" [ngValue]="option.value | number">{{option.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="idTransactionClass" class="form-label">Class:</label>
        <select type="number" class="form-control" id="idTransactionClass" formControlName="idTransactionClass">
          <option *ngFor="let transactionClass of transactionClassList" [ngValue]="transactionClass.id | number">
            {{transactionClass.name}}</option>
        </select>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
        </div>
        <div class="col-auto ml-auto">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>                
    </form>
  </div>
</div>