<div class="container">
  <div class="card mx-auto my-5 p-4">
    <h1 class="text-center display-4">Edit</h1>

    <form [formGroup]="assetPortfolioForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="idAsset" class="form-label">Asset:</label>
        <select class="form-control" id="idAsset" formControlName="idAsset">
          <option *ngFor="let asset of assetList" [value]="asset.id">{{ asset.name }}</option>
        </select>
      </div>
      <div class="form-group mb-3">
        <label for="quantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" id="quantity" formControlName="quantity">
      </div>
      <div class="form-group">
        <label for="purchasePrice" class="form-label">Order Price:</label>
        <input type="number" class="form-control" id="purchasePrice" formControlName="purchasePrice">
      </div>
      <div class="form-group">
        <label for="type" class="form-label">Operation Type:</label>
        <select class="form-control" id="type" formControlName="type">
          <option *ngFor="let option of eventTypeOptions" [value]="option.value | number">{{option.label}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="date" class="form-label">Date:</label>
        <input type="date" class="form-control" id="date" formControlName="date">
      </div>
      <div class="form-group">
        <label for="idPortfolio" class="form-label">Wallet:</label>
        <select class="form-control" id="idPortfolio" formControlName="idPortfolio">
          <option *ngFor="let portfolio of portfolioList" [value]="portfolio.id">{{ portfolio.name }}</option>
        </select>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button type="button" class="btn btn-secondary" (click)="back()">Back</button>
        </div>
        <div class="col-auto ml-auto">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>