<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Value</th>
            <th>Description</th>
            <th>Date</th>
            <th>Type</th>
            <th>Class</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="transaction">
            <td>{{transaction.id}}</td>
            <td>{{ transaction.value }}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.date | date }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.idTransactionClass }}</td>
        </tr>
    </tbody>
</table>

<div style="margin-bottom: 5px;">
    <button type="button" class="btn btn-secondary" (click)="back()">
        Back
    </button> 
    <button type="button" class="btn btn-danger" (click)="remove()">
        Remove
    </button>           
</div>