<h1>All Transactions</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Value</th>
      <th>Description</th>
      <th>Date</th>
      <th>Type</th>
      <th>Class</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="transactionList$ | async as transactionList">
      <tr *ngFor="let transaction of transactionList | paginate: { itemsPerPage: 10, currentPage: p }">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.value }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.date | date }}</td>
        <td>{{ transaction.type | financeEventType }}</td>
        <td>{{ getCategoryName(transaction.idTransactionClass) }}</td>
        <td>
          <a routerLink="/finances/edit/{{transaction.id}}">
            <i class="material-icons">edit_note</i>
          </a>
          <a routerLink="/finances/delete/{{transaction.id}}">
            <i class="material-icons delete">delete</i>
          </a>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<pagination-controls (pageChange)="p = $event"></pagination-controls>