<h1>All Transactions</h1>

<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Value</th>
      <th>Description</th>
      <th>Date</th>
      <th>Type</th>
      <th>Class</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactionList$ | async">
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.value }}</td>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.date | date }}</td>
      <td>{{ transaction.type }}</td>
      <td>{{ transaction.idTransactionClass }}</td>
      <td>
        <a routerLink="/finances/edit/{{transaction.id}}">
          <i class="material-icons">edit_note</i>
        </a>
        <a routerLink="/finances/delete/{{transaction.id}}">
          <i class="material-icons delete">delete</i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
